/* Windows: Fluent UI vs classic rendering */

@media (form-theme: fluent-ui) {
	.default {
		height: 32px;
	}

	button.default {
		height: 32px;
	}
}

@media (form-theme: win-classic) {
	.default {
		height: 23px;
	}

	button.default {
		height: 23px;
	}
}
